h1.mainDisplay {
  text-align: center;
  font-size: 7ch;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  text-align: center;
}
#container {
  display: flex;
  align-items: flex-start;
}

.dest_form {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 35%;
  min-width: 15rem;
}
#row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}
